<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>clock</key>
		<dict>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>200</integer>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>width</key>
			<integer>200</integer>
			<key>x</key>
			<integer>205</integer>
			<key>y</key>
			<integer>198</integer>
		</dict>
		<key>clock_background</key>
		<dict>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>200</integer>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>width</key>
			<integer>200</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>clock_night</key>
		<dict>
			<key>height</key>
			<integer>200</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>200</integer>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>width</key>
			<integer>200</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>200</integer>
		</dict>
		<key>home</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>277</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>joystick</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>397</integer>
			<key>y</key>
			<integer>4</integer>
		</dict>
		<key>smiley</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>202</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>wol</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>337</integer>
			<key>y</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>400</integer>
		<key>width</key>
		<integer>640</integer>
	</dict>
        <key>metadata</key>
        <dict>
                <key>version</key>
                <string>1.6.0</string>
                <key>format</key>
                <integer>3</integer>
                <key>size</key>
                <string>{2048, 2048}</string>
                <key>name</key>
                <string>examples_qml</string>
                <key>textureFileName</key>
                <string>examples_qml.png</string>
                <key>premultipliedAlpha</key>
                <false/>
        </dict>
</dict>
</plist>
